
<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <div id='sidenav-custom-menu'>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="mat-list-item-selected" routerLink="/game">Playground</a>
      <a mat-list-item routerLinkActive="mat-list-item-selected" routerLink="/stats">Statistics</a>
      <a mat-list-item routerLinkActive="mat-list-item-selected" routerLink="/contact">Contact</a>
    </mat-nav-list>
  </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <div class="game-content">
        <div class="responsive-image-top"> <img src="../../../assets/img/template-content-top.png" class="img-fluid"  alt="Responsive image"></div>
          <div class="toogle-sidenav-icon-top">  <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            >
            <mat-icon class="material-icons color_green">ballot</mat-icon>
          </button></div>
    <ng-content>
    </ng-content>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
